<div class="d-flex border-0 h-100">
  <div class="row p-0 m-0">
    <div
      class="col-4 mt-2 custom-box"
      *ngFor="let item of productList"
    >
      <div class="card h-100 w-100 border-0">
        <img
          [src]="item.image"
          width="250px"
          height="250px"
          class="card-img-top"
          [alt]="item.name"
        />
        <div class="card-body d-flex flex-column">
          <p class="card-text font-weight-bold text-center text-primary">
            <strong>{{ item.title }}</strong>
          </p>
          <span class="text-center text-primary"
            >Rating:
            <span class="text-warning" style="font-size: 22px">
              <ngb-rating [(rate)]="item.rating"></ngb-rating></span
          ></span>
          <span class="text-center text-primary"
            >Price:
            <strong class="text-danger text-center" style="font-size: 25px"
              >${{ item.price }}</strong
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
